body {
	margin: 0;
}

html, body, #__blaze-root, #container {
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
}

#main {
	flex: 1 100%;
}

#overlay {
	display: none;
	position: absolute;
	background: rgba(200, 200, 200, 0.5);

	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 500px;
	top: 50px;
	min-height: 200px;
	padding: 10px;

	z-index: 100;

	&.overlayVisible {
		display: block;
	}
}
