body {
	margin: 0;
}

html, body, #__blaze-root, #container {
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
}

#main {
	flex: 1 100%;
}

#overlay {
	display: none;
	position: absolute;
	background: rgba(200, 200, 200, 0.5);

	&.overlayVisible {
		display: block;
	}
}
